/* line 3, ../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../scss/main.scss */
.img-box {
  position: relative;
  width: 33.33%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  background: #3085a3;
  cursor: pointer;
  overflow: hidden;
}
/* line 17, ../scss/main.scss */
.img-box img {
  position: relative;
  display: block;
  opacity: 0.8;
  min-height: 100%;
  transform: scale(1.2);
  -webkit-transition: all 0.35s linear 0;
  -moz-transition: all 0.35s linear 0;
  -o-transition: all 0.35s linear 0;
  -ms-transition: all 0.35s linear 0;
  transition: all 0.35s linear 0;
}
/* line 25, ../scss/main.scss */
.img-box .caption {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
/* line 35, ../scss/main.scss */
.img-box .caption p {
  opacity: 0;
  -webkit-transition: all 0.35s linear 0;
  -moz-transition: all 0.35s linear 0;
  -o-transition: all 0.35s linear 0;
  -ms-transition: all 0.35s linear 0;
  transition: all 0.35s linear 0;
}
/* line 39, ../scss/main.scss */
.img-box .caption:before {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border: 1px solid #fff;
  transform: scale(1.3);
  opacity: 0;
  -webkit-transition: all 0.35s linear 0;
  -moz-transition: all 0.35s linear 0;
  -o-transition: all 0.35s linear 0;
  -ms-transition: all 0.35s linear 0;
  transition: all 0.35s linear 0;
}
/* line 58, ../scss/main.scss */
.img-box:hover .caption p {
  opacity: 1;
}
/* line 62, ../scss/main.scss */
.img-box:hover .caption:before {
  opacity: 1;
  transform: scale(1);
}
/* line 68, ../scss/main.scss */
.img-box:hover img {
  transform: scale(1);
}
